<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>
<body>
    <div class="comp-about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis reiciendis non odio. Distinctio, eius. Accusamus voluptatum saepe voluptas, ducimus vel eum inventore earum! Aliquid voluptatem mollitia consequatur quibusdam illo quaerat!</div>

</body>
</html>