<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
</head>
<body>
    <!-- shortcode component -->
    <div class="comp-shortcode">
        <div class="comp-shortcode__title">
            Viaje hoje mesmo com as ofertas de passagens para Austrália
        </div>
        <div class="comp-shortcode__header">
            <div class="comp-shortcode__header__item">ORIGEM</div>
            <div class="comp-shortcode__header__item">DESTINO</div>
            <div class="comp-shortcode__header__item comp-shortcode__header__item--center">CIA AÉREA</div>
            <div class="comp-shortcode__header__item comp-shortcode__header__item--center" >IDA E VOLTA</div>
            <div class="comp-shortcode__header__item comp-shortcode__header__item--center">PREÇO*</div>
        </div>
        <div class="comp-shortcode__body">
            <!-- loop -->
            <a href="#" alt="" title="" class="comp-shortcode__body__item">
                <div class="comp-shortcode__body__item__iata-city comp-shortcode__body__item__iata-city--departure">
                    <div class="comp-shortcode__body__item__iata-city__iata">
                        GIG
                    </div>
                    <div class="comp-shortcode__body__item__iata-city__city">
                        Rio de Janeiro
                    </div>
                </div>
                <div class="comp-shortcode__body__item__arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15">
                        <g fill="#A8A8A8" fill-rule="evenodd">
                            <path d="M1 5h10v3l5-4-5-4v3H1zM15 10H5V7l-5 4 5 4v-3h10z" />
                        </g>
                    </svg>
                </div>
                <div class="comp-shortcode__body__item__iata-city comp-shortcode__body__item__iata-city--arrive">
                    <div class="comp-shortcode__body__item__iata-city__iata">
                        SYD
                    </div>
                    <div class="comp-shortcode__body__item__iata-city__city">
                        Sydney
                    </div>
                </div>
                <div class="comp-shortcode__body__item__cia-logo">
                    <img src="http://via.placeholder.com/90x40" alt="logocia" title="logocia">
                </div>
                <div class="comp-shortcode__body__item__departure-arrive">
                    <div class="comp-shortcode__body__item__departure-arrive__departure">
                         01 mar
                    </div>
                    <div class="comp-shortcode__body__item__departure-arrive__bullet">
                        &bull;
                    </div>
                    <div class="comp-shortcode__body__item__departure-arrive__arrive">
                         07 mar
                    </div>
                </div>
                <div class="comp-shortcode__body__item__price">
                    <button class="comp-shortcode__body__item__price__btn">R$ 98</button>
                </div>
            </a>
            <!-- end loop -->
            <!-- loop just a example delete this one-->
            <a href="#" alt="" title="" class="comp-shortcode__body__item">
                <div class="comp-shortcode__body__item__iata-city comp-shortcode__body__item__iata-city--departure">
                    <div class="comp-shortcode__body__item__iata-city__iata">
                        GIG
                    </div>
                    <div class="comp-shortcode__body__item__iata-city__city">
                        Rio de Janeiro
                    </div>
                </div>
                <div class="comp-shortcode__body__item__arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15">
                        <g fill="#A8A8A8" fill-rule="evenodd">
                            <path d="M1 5h10v3l5-4-5-4v3H1zM15 10H5V7l-5 4 5 4v-3h10z" />
                        </g>
                    </svg>
                </div>
                <div class="comp-shortcode__body__item__iata-city comp-shortcode__body__item__iata-city--arrive">
                    <div class="comp-shortcode__body__item__iata-city__iata">
                        SYD
                    </div>
                    <div class="comp-shortcode__body__item__iata-city__city">
                        Sydney
                    </div>
                </div>
                <div class="comp-shortcode__body__item__cia-logo">
                    <img src="http://via.placeholder.com/90x40" alt="logocia" title="logocia">
                </div>
                <div class="comp-shortcode__body__item__departure-arrive">
                    <div class="comp-shortcode__body__item__departure-arrive__departure">
                        01 mar
                    </div>
                    <div class="comp-shortcode__body__item__departure-arrive__bullet">
                        &bull;
                    </div>
                    <div class="comp-shortcode__body__item__departure-arrive__arrive">
                        07 mar
                    </div>
                </div>
                <div class="comp-shortcode__body__item__price">
                    <button class="comp-shortcode__body__item__price__btn">R$ 198</button>
                </div>
            </a>
            <!-- end loop -->
        </div>
        <div class="comp-shortcode__footer">
             <span>*Preço mais barato por passageiro, taxas já inclusas.</span>
        </div>
    </div>
    <!-- end shortcode component -->
</body>
</html>