<html lang="pt-br">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>newshortcode</title>
</head>

<body>
    <!-- shortcode component mod01-->
    <div class="comp-newshortcode comp-newshortcode--mod01 comp-newshortcode--notitle comp-newshortcode--noorigin comp-newshortcode--nologo">
        <div class="comp-newshortcode__title">
            Ofertas para você viajar para Austrália
        </div>
        <div class="comp-newshortcode__header">
            <strong class="comp-newshortcode__header__subtitle">Passagens aéreas</strong>
            <small class="comp-newshortcode__header__label">saindo de</small>
            <select class="comp-newshortcode__header__selection" name="" id="">
                <option value="Rio de Janeiro">Rio de Janeiro</option>
                <option value="São Paulo">São Paulo</option>
                <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
            </select>
        </div>
        <!-- item loop -->
        <a href="#" class="comp-newshortcode__item">
            <img class="logo_cia" src="http://via.placeholder.com/90X40" alt="">
            <strong class="dep_iata">GIG</strong>
            <small class="dep_city">Rio de Janeiro</small> 
            <span class="arrow">&#8646;</span>
            <strong class="arr_iata">SYD</strong>
            <small class="arr_city">Sydney</small>
            <span class="dep_date">01 mar</span>
            <span class="separator">&bull;</span>
            <span class="arr_date">07 mar</span>
            <span class="price">R$ 98</span>
        </a>
        <!-- end loop -->
        <!-- delete inside just content-->
        <a href="#" class="comp-newshortcode__item">
            <img class="logo_cia" src="http://via.placeholder.com/90X40" alt="">
            <strong class="dep_iata">GIG</strong>
            <small class="dep_city">Rio de Janeiro</small>
            <span class="arrow">&#8646;</span>
            <strong class="arr_iata">SYD</strong>
            <small class="arr_city">Sydney</small>
            <span class="dep_date">01 mar</span>
            <span class="separator">&bull;</span>
            <span class="arr_date">07 mar</span>
            <span class="price">R$ 98</span>
        </a>

        <a href="#" class="comp-newshortcode__item">
            <img class="logo_cia" src="http://via.placeholder.com/90X40" alt="">
            <strong class="dep_iata">GIG</strong>
            <small class="dep_city">Rio de Janeiro</small>
            <span class="arrow">&#8646;</span>
            <strong class="arr_iata">SYD</strong>
            <small class="arr_city">Sydney</small>
            <span class="dep_date">01 mar</span>
            <span class="separator">&bull;</span>
            <span class="arr_date">07 mar</span>
            <span class="price">R$ 98</span>
        </a>

        <a href="#" class="comp-newshortcode__item">
            <img class="logo_cia" src="http://via.placeholder.com/90X40" alt="">
            <strong class="dep_iata">GIG</strong>
            <small class="dep_city">Rio de Janeiro</small>
            <span class="arrow">&#8646;</span>
            <strong class="arr_iata">SYD</strong>
            <small class="arr_city">Sydney</small>
            <span class="dep_date">01 mar</span>
            <span class="separator">&bull;</span>
            <span class="arr_date">07 mar</span>
            <span class="price">R$ 99998</span>
        </a>

        <a href="#" class="comp-newshortcode__item">
            <img class="logo_cia" src="http://via.placeholder.com/90X40" alt="">
            <strong class="dep_iata">GIG</strong>
            <small class="dep_city">Mato Grosso do Sul</small>
            <span class="arrow">&#8646;</span>
            <strong class="arr_iata">SYD</strong>
            <small class="arr_city">Sydney</small>
            <span class="dep_date">01 mar</span>
            <span class="separator">&bull;</span>
            <span class="arr_date">07 mar</span>
            <span class="price">R$ 98</span>
        </a>
        <!-- delete inside just content -->

        <div class="comp-newshortcode__footer">
            <small class="footer_ps">Preço por passageiro, taxas já inclusas.</small>
            <a href="https://www.passagenspromo.com.br" target="_blank" class="footer_logo" alt="PassagensPromo" title="PassagensPromo">
                <img class="searchlogo" src="http://via.placeholder.com/93x13" alt=""><span class="searchtext">Pesquise passagens aéreas</span>
            </a>
        </div>
    </div>
    <!-- end shortcode component -->

    <!-- shortcode component mod02-->
    <div class="comp-newshortcode comp-newshortcode--mod02 comp-newshortcode--notitle comp-newshortcode--noorigin comp-newshortcode--nologo">
        <div class="comp-newshortcode__title">
            Ofertas para você viajar para Austrália
        </div>
        <div class="comp-newshortcode__header">
            <strong class="comp-newshortcode__header__subtitle">Passagens aéreas</strong>
            <small class="comp-newshortcode__header__label">saindo de</small>
            <select class="comp-newshortcode__header__selection" name="" id="">
                <option value="Rio de Janeiro">Rio de Janeiro</option>
                <option value="São Paulo">São Paulo</option>
                <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
            </select>
        </div>
        <!-- item loop -->
        <a href="#" class="comp-newshortcode__item">
            <img class="logo_cia" src="http://via.placeholder.com/90X40" alt="">
            <strong class="dep_iata">GIG</strong>
            <small class="dep_city">Rio de Janeiro</small>
            <span class="arrow">&#8646;</span>
            <strong class="arr_iata">SYD</strong>
            <small class="arr_city">Sydney</small>
            <span class="dep_date">01 mar</span>
            <span class="separator">&bull;</span>
            <span class="arr_date">07 mar</span>
            <span class="price">R$ 98</span>
        </a>
        <!-- end loop -->
        <!-- delete inside just content-->
        <a href="#" class="comp-newshortcode__item">
            <img class="logo_cia" src="http://via.placeholder.com/90X40" alt="">
            <strong class="dep_iata">GIG</strong>
            <small class="dep_city">Rio de Janeiro</small>
            <span class="arrow">&#8646;</span>
            <strong class="arr_iata">SYD</strong>
            <small class="arr_city">Sydney</small>
            <span class="dep_date">01 mar</span>
            <span class="separator">&bull;</span>
            <span class="arr_date">07 mar</span>
            <span class="price">R$ 98</span>
        </a>
    
        <a href="#" class="comp-newshortcode__item">
            <img class="logo_cia" src="http://via.placeholder.com/90X40" alt="">
            <strong class="dep_iata">GIG</strong>
            <small class="dep_city">Rio de Janeiro</small>
            <span class="arrow">&#8646;</span>
            <strong class="arr_iata">SYD</strong>
            <small class="arr_city">Sydney</small>
            <span class="dep_date">01 mar</span>
            <span class="separator">&bull;</span>
            <span class="arr_date">07 mar</span>
            <span class="price">R$ 98</span>
        </a>
    
        <a href="#" class="comp-newshortcode__item">
            <img class="logo_cia" src="http://via.placeholder.com/90X40" alt="">
            <strong class="dep_iata">GIG</strong>
            <small class="dep_city">Rio de Janeiro</small>
            <span class="arrow">&#8646;</span>
            <strong class="arr_iata">SYD</strong>
            <small class="arr_city">Sydney</small>
            <span class="dep_date">01 mar</span>
            <span class="separator">&bull;</span>
            <span class="arr_date">07 mar</span>
            <span class="price">R$ 99998</span>
        </a>
    
        <a href="#" class="comp-newshortcode__item">
            <img class="logo_cia" src="http://via.placeholder.com/90X40" alt="">
            <strong class="dep_iata">GIG</strong>
            <small class="dep_city">Mato Grosso do Sul</small>
            <span class="arrow">&#8646;</span>
            <strong class="arr_iata">SYD</strong>
            <small class="arr_city">Sydney</small>
            <span class="dep_date">01 mar</span>
            <span class="separator">&bull;</span>
            <span class="arr_date">07 mar</span>
            <span class="price">R$ 98</span>
        </a>
        <!-- delete inside just content -->
    
        <div class="comp-newshortcode__footer">
            <small class="footer_ps">Preço por passageiro, taxas já inclusas.</small>
            <a href="https://www.passagenspromo.com.br" target="_blank" class="footer_logo" alt="PassagensPromo" title="PassagensPromo">
                <img class="searchlogo" src="http://via.placeholder.com/93x13" alt="">
                <span class="searchtext">Pesquise passagens aéreas</span>
            </a>
        </div>
    </div>
    <!-- end shortcode component -->

    <!-- shortcode component mod03-->
    <div class="comp-newshortcode comp-newshortcode--mod03  comp-newshortcode--noorigin comp-newshortcode--nologo">
        <div class="comp-newshortcode__title">
            Ofertas para você viajar para Austrália
        </div>
        <div class="comp-newshortcode__header">
            <strong class="comp-newshortcode__header__subtitle">Passagens aéreas</strong>
            <small class="comp-newshortcode__header__label">saindo de</small>
            <select class="comp-newshortcode__header__selection" name="" id="">
                <option value="Rio de Janeiro">Rio de Janeiro</option>
                <option value="São Paulo">São Paulo</option>
                <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
            </select>
        </div>
        <!-- item loop -->
        <a href="#" class="comp-newshortcode__item">
            <img class="logo_cia" src="http://via.placeholder.com/90X40" alt="">
            <strong class="dep_iata">GIG</strong>
            <small class="dep_city">Rio de Janeiro</small>
            <span class="arrow">&#8646;</span>
            <strong class="arr_iata">SYD</strong>
            <small class="arr_city">Sydney</small>
            <span class="dep_date">01 mar</span>
            <span class="separator">&bull;</span>
            <span class="arr_date">07 mar</span>
            <span class="price">R$ 98</span>
        </a>
        <!-- end loop -->
        <!-- delete inside just content-->
        <a href="#" class="comp-newshortcode__item">
            <img class="logo_cia" src="http://via.placeholder.com/90X40" alt="">
            <strong class="dep_iata">GIG</strong>
            <small class="dep_city">Rio de Janeiro</small>
            <span class="arrow">&#8646;</span>
            <strong class="arr_iata">SYD</strong>
            <small class="arr_city">Sydney</small>
            <span class="dep_date">01 mar</span>
            <span class="separator">&bull;</span>
            <span class="arr_date">07 mar</span>
            <span class="price">R$ 98</span>
        </a>
    
        <a href="#" class="comp-newshortcode__item">
            <img class="logo_cia" src="http://via.placeholder.com/90X40" alt="">
            <strong class="dep_iata">GIG</strong>
            <small class="dep_city">Rio de Janeiro</small>
            <span class="arrow">&#8646;</span>
            <strong class="arr_iata">SYD</strong>
            <small class="arr_city">Sydney</small>
            <span class="dep_date">01 mar</span>
            <span class="separator">&bull;</span>
            <span class="arr_date">07 mar</span>
            <span class="price">R$ 98</span>
        </a>
    
        <a href="#" class="comp-newshortcode__item">
            <img class="logo_cia" src="http://via.placeholder.com/90X40" alt="">
            <strong class="dep_iata">GIG</strong>
            <small class="dep_city">Rio de Janeiro</small>
            <span class="arrow">&#8646;</span>
            <strong class="arr_iata">SYD</strong>
            <small class="arr_city">Sydney</small>
            <span class="dep_date">01 mar</span>
            <span class="separator">&bull;</span>
            <span class="arr_date">07 mar</span>
            <span class="price">R$ 99998</span>
        </a>
    
        <a href="#" class="comp-newshortcode__item">
            <img class="logo_cia" src="http://via.placeholder.com/90X40" alt="">
            <strong class="dep_iata">GIG</strong>
            <small class="dep_city">Mato Grosso do Sul</small>
            <span class="arrow">&#8646;</span>
            <strong class="arr_iata">SYD</strong>
            <small class="arr_city">Sydney</small>
            <span class="dep_date">01 mar</span>
            <span class="separator">&bull;</span>
            <span class="arr_date">07 mar</span>
            <span class="price">R$ 98</span>
        </a>
        <!-- delete inside just content -->
    
        <div class="comp-newshortcode__footer">
            <small class="footer_ps">Preço por passageiro, taxas já inclusas.</small>
            <a href="https://www.passagenspromo.com.br" target="_blank" class="footer_logo" alt="PassagensPromo" title="PassagensPromo">
                <img class="searchlogo" src="http://via.placeholder.com/93x13" alt="">
                <span class="searchtext">Pesquise passagens aéreas</span>
            </a>
        </div>
    </div>
    <!-- end shortcode component -->
</body>

</html>
