<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Plugin Configuration</title>
    
</head>
<body>
    <div class="comp-plgconf">
        <div class="comp-plgconf__title">
            <strong>Afiliados Passagens Promo</strong>
            <a href="#" alt="ajuda" title="ajuda">AJUDA</a>
        </div>
        <div class="comp-plgconf__body">
            <div class="comp-plgconf__body__title">
                <strong>Título</strong>
                <picture>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                        <g fill="none" fill-rule="evenodd">
                            <path d="M0 0h24v24H0z" />
                            <path fill="#008BFF" fill-rule="nonzero" d="M11 17h2v-6h-2v6zm1-15C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zM11 9h2V7h-2v2z"
                            />
                        </g>
                    </svg>
                </picture>
                <span>
                    <!-- <select id="example" type="text" class="input-class input-class--full"> -->
                        <select class="form-control" name="choices-single-selected-option-1" id="choices-single-selected-option-1" placeholder="This is a placeholder">
                        </select>
                        
                        <select class="form-control" name="choices-single-selected-option-2" id="choices-single-selected-option-2" placeholder="This is a placeholder"
                            multiple>
                        </select>
                        <option> Digite uma cidade</option>
                    </select>
                </span>
            </div>
        </div>
    </div>
</body>
</html>