@mixin mixin-mod03() {
    margin: auto;
    display: grid;
    font-family: 'Open Sans',
    sans-serif;
    max-width: 320px;
    overflow: hidden;
    .comp-newshortcode__title {
        display: grid;
        min-height: 70px;
        background-color: #004986;
        color: #ffffff;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .comp-newshortcode__header {
        display: grid;
        color: #ffffff;
        grid-template-columns: 1fr min-content;
        min-height: 45px;
        background-color: #186aaf;
        align-items: center;
        grid-column-gap: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .comp-newshortcode__header__subtitle {
        font-size: 16px;
        color: #ffffff;
        display: none;
    }

    .comp-newshortcode__header__label {
        font-size: 10px;
        color: #ffffff;
        text-transform: uppercase;
        text-align: left;
    }

    .comp-newshortcode__header__selection {
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        color: #ffffff;
        background: url('/img/drop-down.svg') no-repeat center right #186aaf;
        border-color: #186aaf;
        height: 25px;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: '';
        padding-right: 15px;
        text-align: right;
    }

    .comp-newshortcode__header__selection::after {
        content: '\0025BE;';
    }

    .comp-newshortcode__item {
        display: grid;
        grid-gap: 0 5px;
        grid-template-columns: 4fr 1fr 4fr;
        grid-template-rows: max-content;
        padding: 15px 15px 15px 15px;
        border-right: solid 1px #c5c5c5;
        border-bottom: solid 1px #c5c5c5;
        border-left: solid 1px #c5c5c5;
        text-decoration: none;
        .logo_cia {
            grid-area: logo;
            justify-self: center;
            align-self: center;
            height: unset;
            width: unset;
        }
        .dep_iata {
            grid-area: dep_iata;
            justify-self: center;
            align-self: end;
            font-size: 18px;
            font-weight: 600;
            color: #545459;
        }
        .dep_city {
            grid-area: dep_city;
            justify-self: center;
            align-self: center;
            font-size: 12px;
            color: #a8a8a8;
            text-align: center;
        }
        .arrow {
            grid-area: arrow;
            justify-self: center;
            align-self: center;
            color: #a8a8a8;
            font-size: 20px;
        }
        .arr_iata {
            grid-area: arr_iata;
            justify-self: center;
            align-self: end;
            font-size: 18px;
            font-weight: 600;
            color: #545459;
        }
        .arr_city {
            grid-area: arr_city;
            justify-self: center;
            align-self: center;
            font-size: 12px;
            color: #a8a8a8;
            text-align: center;
        }
        .dep_date {
            margin-top: 8px;
            grid-area: dep_date;
            justify-self: center;
            align-self: center;
            font-size: 14px;
            font-weight: 600;
            color: #545459;
        }
        .separator {
            height: 1px;
            display: block;
            overflow: hidden;
            width: 100%;
            border-bottom: dashed 1px #c5c5c5;
            grid-column-start: 1!important;
            grid-column-end: 4 !important;
            grid-row-start: 4 !important;
            grid-row-end: 4 !important;
            margin-top: 16px;
            margin-bottom: 12px;
        }
        .arr_date {
            margin-top: 8px;
            grid-area: arr_date;
            justify-self: center;
            align-self: center;
            font-size: 14px;
            font-weight: 600;
            color: #545459;
        }
        .price {
            grid-area: price;
            justify-self: center;
            align-self: center;
            border-radius: 5px;
            background-color: #32cc34;
            color: #ffffff;
            font-size: 18px;
            width: 100%;
            text-align: center;
            padding: 10px;
            box-sizing: border-box;
        }
        grid-template-areas: "dep_iata arrow arr_iata" "dep_city arrow arr_city" "dep_date arrow arr_date" "separator separator separator" "logo . price";
    }

    .comp-newshortcode__footer {
        display: grid;
        padding: 13px 15px 13px 15px;
        grid-template-columns: auto;
        grid-template-rows: auto;
        background-color: #eceff1;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        .footer_ps {
            font-size: 12px;
            color: #a8a8a8;
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
            text-align: center;
        }
        .footer_logo {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
            margin-top: 8px;
            text-align: center;
        }
        .searchtext {
            display: none;
            text-align: center !important;
        }
    }
}
@mixin mixin-mod02() {
    margin: auto;
    display: grid;
    font-family: 'Open Sans',
    sans-serif;
    max-width: 600px;
    overflow: hidden;
    .comp-newshortcode__title {
        display: grid;
        min-height: 70px;
        background-color: #004986;
        color: #ffffff;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .comp-newshortcode__header {
        display: grid;
        color: #ffffff;
        grid-template-columns: auto 96px min-content;
        min-height: 45px;
        background-color: #186aaf;
        align-items: center;
        grid-column-gap: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .comp-newshortcode__header__subtitle {
        font-size: 16px;
        color: #ffffff;
    }

    .comp-newshortcode__header__label {
        font-size: 10px;
        color: #ffffff;
        text-transform: uppercase;
        text-align: right;
    }

    .comp-newshortcode__header__selection {
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        color: #ffffff;
        background: url('/img/drop-down.svg') no-repeat center right #186aaf;
        border-color: #186aaf;
        height: 25px;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: '';
        padding-right: 15px;
    }

    .comp-newshortcode__header__selection::after {
        content: '\0025BE;';
    }

    .comp-newshortcode__item {
        display: grid;
        grid-gap: 0 5px;
        grid-template-columns: 4fr 4fr 1fr 4fr 4fr;
        grid-template-rows: max-content;
        padding: 10px 15px 10px 15px;
        border-right: solid 1px #c5c5c5;
        border-bottom: solid 1px #c5c5c5;
        border-left: solid 1px #c5c5c5;
        text-decoration: none;
        .logo_cia {
            grid-area: logo;
            justify-self: center;
            align-self: center;
            height: unset;
            width: unset;
        }
        .dep_iata {
            grid-area: dep_iata;
            justify-self: center;
            align-self: end;
            font-size: 18px;
            font-weight: 600;
            color: #545459;
        }
        .dep_city {
            grid-area: dep_city;
            justify-self: center;
            align-self: center;
            font-size: 12px;
            color: #a8a8a8;
            text-align: center;
        }
        .arrow {
            grid-area: arrow;
            justify-self: center;
            align-self: center;
            color: #a8a8a8;
            font-size: 20px;
        }
        .arr_iata {
            grid-area: arr_iata;
            justify-self: center;
            align-self: end;
            font-size: 18px;
            font-weight: 600;
            color: #545459;
        }
        .arr_city {
            grid-area: arr_city;
            justify-self: center;
            align-self: center;
            font-size: 12px;
            color: #a8a8a8;
            text-align: center;
        }
        .dep_date {
            margin-top: 8px;
            grid-area: dep_date;
            justify-self: center;
            align-self: center;
            font-size: 14px;
            font-weight: 600;
            color: #545459;
        }
        .separator {
            display: none;
        }
        .arr_date {
            margin-top: 8px;
            grid-area: arr_date;
            justify-self: center;
            align-self: center;
            font-size: 14px;
            font-weight: 600;
            color: #545459;
        }
        .price {
            grid-area: price;
            justify-self: center;
            align-self: center;
            border-radius: 5px;
            background-color: #32cc34;
            color: #ffffff;
            font-size: 18px;
            width: 100%;
            text-align: center;
            padding: 10px;
            box-sizing: border-box;
        }
        grid-template-areas: "logo dep_iata arrow arr_iata price" "logo dep_city arrow arr_city price" "logo dep_date arrow arr_date price";
    }

    .comp-newshortcode__footer {
        display: grid;
        padding: 13px 15px 13px 15px;
        grid-template-columns: auto min-content;
        background-color: #eceff1;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        .footer_ps {
            font-size: 12px;
            color: #a8a8a8;
        }
        .searchtext {
            display: none;
        }
    }
}
@mixin mixin-mod01(){
    margin: auto;
    display: grid;
    font-family: 'Open Sans',
    sans-serif;
    max-width: 740px;
    overflow: hidden;
    .comp-newshortcode__title {
        display: grid;
        min-height: 70px;
        background-color: #004986;
        color: #ffffff;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .comp-newshortcode__header {
        display: grid;
        color: #ffffff;
        grid-template-columns: auto 96px min-content;
        min-height: 45px;
        background-color: #186aaf;
        align-items: center;
        grid-column-gap: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .comp-newshortcode__header__subtitle {
        font-size: 16px;
        color: #ffffff;
    }

    .comp-newshortcode__header__label {
        font-size: 10px;
        color: #ffffff;
        text-transform: uppercase;
        text-align: right;
    }

    .comp-newshortcode__header__selection {
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        color: #ffffff;
        background: url('/img/drop-down.svg') no-repeat center right #186aaf;
        border-color: #186aaf;
        height: 25px;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: '';
        padding-right: 15px;
    }

    .comp-newshortcode__header__selection::after {
        content: '\0025BE;';
    }

    .comp-newshortcode__item {
        display: grid;
        grid-gap: 0 5px;
        grid-template-columns: 4fr 4fr 1fr 4fr 2fr 1fr 2fr 4fr;
        grid-template-rows: max-content;
        padding: 10px 15px 10px 15px;
        border-right: solid 1px #c5c5c5;
        border-bottom: solid 1px #c5c5c5;
        border-left: solid 1px #c5c5c5;
        text-decoration: none;
        .logo_cia {
            grid-area: logo;
            justify-self: center;
            align-self: center;
            height: unset;
            width: unset;
        }
        .dep_iata {
            grid-area: dep_iata;
            justify-self: center;
            align-self: end;
            font-size: 18px;
            font-weight: 600;
            color: #545459;
        }
        .dep_city {
            grid-area: dep_city;
            justify-self: center;
            align-self: center;
            font-size: 12px;
            color: #a8a8a8;
            text-align: center;
        }
        .arrow {
            grid-area: arrow;
            justify-self: center;
            align-self: center;
            color: #a8a8a8;
            font-size: 20px;
        }
        .arr_iata {
            grid-area: arr_iata;
            justify-self: center;
            align-self: end;
            font-size: 18px;
            font-weight: 600;
            color: #545459;
        }
        .arr_city {
            grid-area: arr_city;
            justify-self: center;
            align-self: center;
            font-size: 12px;
            color: #a8a8a8;
            text-align: center;
        }
        .dep_date {
            grid-area: dep_date;
            justify-self: end;
            align-self: center;
            font-size: 14px;
            font-weight: 600;
            color: #545459;
        }
        .separator {
            grid-area: separator;
            justify-self: center;
            align-self: center;
            color: #545459;
        }
        .arr_date {
            grid-area: arr_date;
            justify-self: start;
            align-self: center;
            font-size: 14px;
            font-weight: 600;
            color: #545459;
        }
        .price {
            grid-area: price;
            justify-self: center;
            align-self: center;
            border-radius: 5px;
            background-color: #32cc34;
            color: #ffffff;
            font-size: 18px;
            width: 100%;
            text-align: center;
            padding: 10px;
            box-sizing: border-box;
        }
        grid-template-areas: "logo dep_iata arrow arr_iata dep_date separator arr_date price" "logo dep_city arrow arr_city dep_date separator arr_date price";
    }

    .comp-newshortcode__footer {
        display: grid;
        padding: 13px 15px 13px 15px;
        grid-template-columns: auto min-content;
        background-color: #eceff1;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        .footer_ps {
            font-size: 12px;
            color: #a8a8a8;
        }
        .searchtext {
            display: none;
        }
    }
}
@mixin mixin-options(){
    &.comp-newshortcode--notitle {
        .comp-newshortcode__title {
            display: none;
        }
        .comp-newshortcode__header {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
    }

    &.comp-newshortcode--noorigin {
        .comp-newshortcode__header {
            grid-template-columns: auto;
            justify-content: center;
        }
        .comp-newshortcode__header__subtitle {
            font-size: 16px;
            color: #ffffff;
            display: block;
        }
        .comp-newshortcode__header__label {
            display: none;
        }
        .comp-newshortcode__header__selection {
            display: none;
        }
    }

    &.comp-newshortcode--nologo {
        .comp-newshortcode__footer {
            grid-template-columns: auto auto;
            a {
                text-decoration: none;
            }
            .searchlogo {
                display: none;
            }
            .searchtext {
                display: block;
                font-size: 12px;
                text-align: right;
                color: #186aaf;
            }
        }
    }
}
.comp-newshortcode {
    &.comp-newshortcode--mod03 {
        @include mixin-mod03();
    }
    &.comp-newshortcode--mod02 {
        @include mixin-mod02();
    }
    &.comp-newshortcode--mod01{
        @include mixin-mod01();
    }
    @include mixin-options();
    
}

@media only screen and (max-width: 600px) {
    .comp-newshortcode {
        &.comp-newshortcode--mod01 {
            @include mixin-mod02();
        }
        @include mixin-options();
    }
}

@media only screen and (max-width: 480px) {
    .comp-newshortcode {
        &.comp-newshortcode--mod01 {
            @include mixin-mod03(); 
        }
        &.comp-newshortcode--mod02 {
            @include mixin-mod03();
        }
        @include mixin-options();
    }
}